* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 24px 0;
    background: black;
    background: -moz-linear-gradient(135deg, black 0%, lightblue 100%);
    background: -webkit-linear-gradient(135deg, black 0%,lightblue 100%);
    background: linear-gradient(135deg, black 0%,lightblue 100%);
}